
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo:#386738;
    --preto:#000000;
    --vermelho:#FF0000;
    --roxo:#3A375E;
    --verde-limao:#6FFF57;
    --cor-cbc-n-sel:rgba(82, 162, 81, 0.5);
    --cor-cbc-sel:#52A151;
} 

body{
    background-color: var(--cor-de-fundo);
    color: #FFFF;
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--verde-limao);
}

.botao{
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--cor-cbc-n-sel);
    color: #FFFF;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-cbc-sel);
    border-left: 2px solid var(--cor-cbc-sel);
    border-right: 2px solid var(--cor-cbc-sel);
    border-top: none;
    }
   
.botao:first-child{
    border-radius: 40px 40px 0 0
    }

    .botoes{
    display: block;
    }

@media screen and (min-width: 768px) {
    .botoes{
    display: flex;
    }

.botao:first-child{
    border-radius: 40px 0 0 0
    }
    
.botao:last-child{
    border-radius: 0 40px 0 0;
    }
}