@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    -cor-de-fundo-de-cima:;#444444 
    --cor-de-fundo:;#000000
    --cor-texto-de-cima:;#EACACA
    --cor-texto-debaixo:;#0A0A0A
    --cor-de-baixo-do-relogio:;#FF0000
    --cor-de-numero-do-relogio:;#FFFFFF
}
body{
       background:linear-gradient(to top, #444444,#000000,#EACACA);
margin: 0;
height: 100vh;
}

.titulo-principal{
    color:#0A0A0A
}
   .botao{
    color
}

    body{
    background-color: var(--cor-e-fundo);
    color:var(--branco);
    fonte-family:'Chakra Petch',san-serif;
}
.conteudo-principal{
    diplay:flex
    frex-direction:column;
    justify-content:center;
    align: itmes 1200px;
    width:100%;
    margin: 0 auto;
}
.titulo-principal span{
    text-align: let;
    width:100%;
    font-size: 32px;
}
.titulo-principal pan{
    color: var(--verde-limao);
}
.botao{
    font-family: 'chakra petch, sans serif';
    backgroun-color: var(--botao-inativo);
    color: var(--branco);
    display: flex
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-item: center;
    width:100%;
    border-bottom:4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(botao-ativo);
    border-top:nome;
}
.botao:firt-child{
    border-radiu: 40px 40px 0 0;
}
.botoes{
    display: block;
}
(media screen and (min-width:768px){
    .botoes{
    display: flex;
}
.botao:first-child{
    border-radiu: 40px 0 0 0;
}
.botao:last-child{
    borer-radius: 40px 0 0;
}