@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    -cor-de-fundo-de-cima:;#444444 
    --cor-de-fundo:;#0A0A0A
    --cor-textode:;cima:;#EACACA
    --cor-texto-debaixo:;#0A0A0A
    --cor-de- baixo-do-relogio:;#FF0000
    --cor-de numero-do-relogio:;#FFFFFF
}